<%= render 'user_details/profile' %>
   
 <div class="contentRight"> 
   
    <div class="contentRightTop">
      You are here - <%= image_tag "homeDark.png",  width: "21" %>
		</div>
		
    <div class="contentRightBottom">       
  		 <div class="contentRightBottomtextNew">
	   			A family medical history is a record of health information about a person and his or her close relatives A family medical history is a record of health information about a person and his or her close relatives.
		   </div>
 
                 
       <script type="text/javascript">
           $(document).ready(function(){
              $("#date_visit").datepicker({ dateFormat: "dd/mm/yy" }).val()
           });
       </script>
      
       <%= form_for @family_member, :html => {:"data-ajax" => "false"} do |f| %>
      
          <div class="contentRightBottomLeft">
					   <div class="contentRightBottomHead">
					      Family Member Details 
			       </div>					

				     <div class="contentRightBottomHeadLeft textTransformCapitalize">Relationship  </div>
				     <div class="contentRightBottomHeadRight textTransformUppercase">
               <%= f.text_field :relation %>
				     </div>
				
             <div class="clearfix"></div>
				     <div class="contentRightBottomHeadLeft textTransformCapitalize">Date of Birth</div>
				     <div class="contentRightBottomHeadRight textTransformUppercase"> 
                <%= f.text_field :date_of_birth, :id => "date_visit" %>
				     </div>
				
             <div class="clearfix"></div>
				     <div class="contentRightBottomHeadLeft textTransformCapitalize">First Name</div>
				     <div class="contentRightBottomHeadRight textTransformUppercase">
                <%= f.text_field :first_name %>
				     </div>
							
             <div class="clearfix"></div>
				     <div class="contentRightBottomHeadLeft textTransformCapitalize">Last Name</div>
				     <div class="contentRightBottomHeadRight textTransformUppercase">
                <%= f.text_field :last_name %>
				     </div>
				
             <div class="clearfix"></div>
				     <div class="contentRightBottomHeadLeft textTransformCapitalize">Blood Group</div>
				     <div class="contentRightBottomHeadRight textTransformUppercase">
                <%= f.text_field :blood_group %>
				     </div>
				
             <div class="clearfix"></div>
				     <div class="contentRightBottomHeadLeft textTransformCapitalize">Height</div>
				     <div class="contentRightBottomHeadRight textTransformUppercase">
               <%= f.text_field :height %>
				     </div>
							
             <div class="clearfix"></div>
				     <div class="contentRightBottomHeadLeft textTransformCapitalize">Weight</div>
				     <div class="contentRightBottomHeadRight textTransformUppercase">
                <%= f.text_field :weight %>
             </div>
          </div><!-- contentRightBottomLeft ends here -->
				
          <div class="contentRightBottomRight">
            
             <div class="contentRightBottomHead"></div>
				     <div class="contentRightBottomText">
				     <div class="contentRightBottomTextLeft">
    				      Known history of Mediacal aliments
    				 </div>
				
             <div class="contentRightBottomTextRight">
                <%= f.text_area :known_ailments %>
					   </div>
				
             <div class="clearfix"></div>
					       <%= f.submit "submit" , class: "submitButton" %>
          	 <div class="clearfix"></div>
				  </div><!-- contentRightBottomRight ends here -->
       <% end %>
		</div><!-- contentRightBottom ends here -->
</div><!--  content right ends heer -->

       
        
