<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no" />
	<meta name="HandheldFriendly" content="true" />
	<link rel="icon" type="image/x-icon" href="">
	<meta property="description" content=" " />
	<meta name="keywords" content="" />

	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
	

	<div class="wrapper">

		    <div class="container header">
			          <div class="logo">
				            <a href="index.html" data-ajax="false">
                      <%= image_tag "logo.png" %>
					              <!-- <img src="images/Logo.png" width="100%" alt="" title="" /> -->
				             </a>
      		        </div>
			
                <div class="menuIconWrap">
				          <div class="menuIcon">
					          <span id="menuBG1" class="menuIconBG menuBG1"></span>
					          <span id="menuBG2" class="menuIconBG menuBG2"></span>
					          <span id="menuBG3" class="menuIconBG menuBG3"></span>
				          </div>
			          </div>
          
			          <div class="menu">
				          <ul>
					          <li><a href="" data-ajax="false" class="current">Home</a></li>
					          <li><a href="" data-ajax="false">About us</a></li>
					          <li><a href="" data-ajax="false">Services</a></li>
					          <li><a href="" data-ajax="false">FAQ</a></li>
                    <li><%= link_to "Login", new_user_session_path %></li>
				          </ul>
			          </div>
		    </div><!-- container header ends here -->
		    <div class="clearfix"></div>

		    <div class="container content">
			      <div class="contentHome">
				            
                  <div class="contentHomeHeadWrapper">
					            
                      <div class="contentHomeHead">
						            TAKE CONTROL OF YOUR HEALTH.
					            </div>
					
                       <div class="contentHomeText">
						       Doctor's Code is a revolutionary way to keep track of your health as well as your
						       loved ones'. Doctor's Code gives you complete control of your health by keeping 
						       you on top of everything, be it reports, prescriptions or scheduled appointments.
					             </div>
					
                       <div class="contentHomeMore">
						              <a href="" data-ajax="false">Know more</a>
					             </div>
                       <div class="clearfix"></div>
				          
                  </div><!-- contentHomeHeadWrapper ends here -->
				          <div class="clearfix"></div>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
             <%= devise_error_messages! %>
              <% if flash.any? %>
              <div class="col-md-6"></div>
              <div class="col-md-6">
              <div class="alert alert-danger">
                <% flash.each do |name, msg| %>
                  <% if msg.class == Array %>
                    <% msg.each do |message| %>
                       <%= content_tag :div, message, :id => "flash_#{name}" %>
                     <% end %>
                  <% end %>
                <% end %>
                </div>
              </div>
              <% end %>
              
                
				          <div class="contentHomeRegisterLoginWrapper">
      
                                   
                      <div class="contentHomeRegisterLoginWrapperhead">
						              New user? Register
					            </div>
					
         
                    
                      <div class="clearfix"></div>
					
                      <div class="contentHomeRegisterLoginWrapperBottom">
                       
                         <div class="contentHomeRegisterLoginWrapperBottomInput">
                           <%= f.email_field :email, autofocus: true, placeholder: "E-Mail ID" %>
						             </div>
						
                         <div class="contentHomeRegisterLoginWrapperBottomInput">
                    <%= f.password_field :password, autocomplete: "off", :placeholder => "Password" %>
						             </div>
      						      
                         <div class="contentHomeRegisterLoginWrapperBottomInput">
 <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password" %>
          						   </div>
          
                         <!-- <div class="contentHomeRegisterLoginWrapperBottomSubmit">-->
							       <%= f.submit "Submit", class: "contentHomeRegisterLoginWrapperBottomSubmit" %>
						             <!-- </div>-->
                        <% end %>
                        <br/><br/><br/>
                     
						             <div class="clearfix"></div>
                      </div><!-- contentHomeRegisterLoginWrapperBottom ends here -->
				          </div><!-- contentHomeRegisterLoginWrapper -->
				          <div class="clearfix"></div>

				                 <div class="contentHomeImage">
                     <!--      <%= image_tag "bgImage.png" %> -->
					                <img src="assets/bgImage.png" width="96%" alt="" /> 
				                 </div>
			</div><!-- content home ends here -->
		</div><!-- container content ends here -->

	</div><!-- wrapper ends here -->
  </body>
</html>