  
  <%= render 'user_details/profile' %>
   
  <div class="contentRight"> 
  
      
      <h3 class="contentRightBottomHead"> Doctor Visits </h3>
        
      <table class="table table-bordered">
        <tr>
          
          <th> DATE </th>
          <th> DOCTOR </th>
          <th> HOSPITAL </th>
          <th> REASON FOR VISIT </th>
          <th> DETAILS </th>
        </tr>
    
        <% @doctor_visits.each do |visit| %>
       
        <tr>
         
          <td><%= visit.date_of_visit %></td>
          <td><%= visit.doctor %></td>
          <td><%= visit.hospital %></td>
          <td><%= visit.reason_for_visit %></td>
          <td><%= visit.details %></td>    
        </tr>
        <% end %>
      </table>

      <div class="text-right">
        <%= link_to "Add Visit", new_doctor_visit_path, class:"contentRightBottomHeadBlueLink", "data-ajax" => "false" %>
        &nbsp;&nbsp;&nbsp;
      </div>
    
  
  
   
  </div><!-- content right ends here -->
