<%= render "user_details/profile" %>
  <div class="contentRightBottom" style="width:90%;padding-left:5px;padding-right:5px;border-top:0px;;max-width:900px;margin-left:auto;margin-right:auto;margin-top:0px">
    
     <%= form_for @doctor, :html => {:"data-ajax" => "false"} do |f| %>

       <div> 
         
            <div class="contentRightBottomHead">
					   	Update Details
						</div>					
         
            <div class="clearfix"></div>
						<div class="contentRightBottomHeadLeft textTransformCapitalize">First Name</div>
						<div class="contentRightBottomHeadRight textTransformUppercase"> 
                 <%= f.text_field :first_name %>
						</div>
         
            <div class="clearfix"></div>
						<div class="contentRightBottomHeadLeft textTransformCapitalize">Last Name</div>
						<div class="contentRightBottomHeadRight textTransformUppercase"> 
                 <%= f.text_field :last_name %>
						</div>
         
            <div class="clearfix"></div>
						<div class="contentRightBottomHeadLeft textTransformCapitalize">Display Name</div>
						<div class="contentRightBottomHeadRight textTransformUppercase"> 
              <%= f.text_field :display_name %>
						</div>
         
            <div class="clearfix"></div>
						<div class="contentRightBottomHeadLeft textTransformCapitalize">Qualification</div>
						<div class="contentRightBottomHeadRight textTransformUppercase"> 
                 <%= f.text_field :qualification %>
						</div>
         
            <div class="clearfix"></div>
						<div class="contentRightBottomHeadLeft textTransformCapitalize">Specilization and Experience</div>
						<div class="contentRightBottomHeadRight textTransformUppercase"> 
              <%= f.text_field :specilization %>
						</div>

            <div class="clearfix"></div>
						<div class="contentRightBottomHeadLeft textTransformCapitalize">Address</div>
						<div class="contentRightBottomHeadRight textTransformUppercase"> 
              <%= f.text_area :address %>
						</div>
    
            <div class="clearfix"></div>
						<div class="contentRightBottomHeadLeft textTransformCapitalize">Description</div>
						<div class="contentRightBottomHeadRight textTransformUppercase"> 
              <%= f.text_area :description %>
						</div>
         
            <div class="clearfix"></div>
						<%= f.submit "Submit" , class: "submitButton"  %>
						<div class="clearfix"></div>
      </div>
    <br/><br/>
    <% end %>
  </div><!-- contentRightBottom ends here -->
  