  
  <%= render 'user_details/profile' %>
   
  <div class="contentRight"> 
  
      <br/><br/><br/>

      <h3> Health Records </h3>
    <br/><br/>
      <table class="table table-bordered">
        <tr>
          <th> Record Type </th>
          <th> Record Date </th>
          <th> Record </th>
        </tr>
    
        <% @health_records.each do |record| %>
       
        <tr>
          <td><%= record.health_record_type %></td>
          <td><%= record.health_record_date %></td>
          <!-- <%= link_to "Download", record.health_record_url, :target => "blank", :flags => "attachment" %> -->
          <% if record.health_record != nil %>
            <td><%= link_to "Download", cloudinary_url(record.health_record, :flags => :attachment) %></td>
          <% elsif record.health_record = nil  %>
          <td> NA </td>
          <% end %>
        </tr>
        <% end %>
      </table>

      <div class="text-right">
        <%= link_to "Add Record", new_health_record_path, class:"contentRightBottomHeadBlueLink", "data-ajax" => "false" %>
        &nbsp;&nbsp;&nbsp;
      </div>
  
   
  </div><!-- content right ends here -->
