
<%= render 'user_details/profile' %>
   
<div class="contentRight">
				<div class="contentRightTop">
          You are here - <%= image_tag "homeDark.png", width: "21" %>
				</div>
  
				<div class="contentRightBottom">
					<div class="contentRightBottomtextNew">
						A family medical history is a record of health information about a person and his or her close relatives A family medical history is a record of health information about a person and his or her close relatives.
					</div>
          
				<%= form_for @health_record, :html => {:multipart => true, :"data-ajax" => "false"} do |f| %>
          
					<div class="contentRightBottomLeft">
							
              <div class="contentRightBottomHead">
								Add Health Records forFamily Member
							</div>					

						  <div class="clearfix"></div>
							<div class="contentRightBottomHeadLeft textTransformCapitalize">Record Type</div>
							<div class="contentRightBottomHeadRight textTransformUppercase"> 
								<%= f.text_field :health_record_type %>
							</div>
            
							<div class="clearfix"></div>
							<div class="contentRightBottomHeadLeft textTransformCapitalize">Record Date</div>
							<div class="contentRightBottomHeadRight textTransformUppercase">
                <%= f.text_field :health_record_date, :id => "datepicker" %>
							</div>
            
							<div class="clearfix"></div>
            <br/>
							<div class="contentRightBottomHeadLeft textTransformCapitalize">Choose File</div>
							<div class="contentRightBottomHeadRight textTransformUppercase">
								<%= f.file_field :health_record %>
							</div>
            
              <div class="clearfix"></div>
            
             <%= f.submit "SUBMIT" %>
            
          </div><!--  contentRightBottomLeft ends here -->
            <% end %>
								<div class="clearfix"></div>
	      </div><!-- contentRightBottom ends here -->
</div><!-- content right ends here -->

            
							
  


