<div class="wrapper">
  <div class="container">
    
    <div class="row">
      <div class="col-md-6">

        <h3> Add Health Records </h3>
        <br/>
        <%= form_for @health_record, :html => {:multipart => true} do |f| %>

            <%= f.label :record_type %><br/>
        <%= f.text_field :health_record_type, class: "form-control" %>
            <br/><br/>
        
            <%= f.label :record_date %><br/>
        <%= f.date_field :health_record_date, class: "form-control" %><br/><br/>
        
            <%= f.label :record %><br/>
        <%= f.file_field :health_record, class: "form-control" %><br/><br/>
        
            <%= f.submit "Submit", class: "btn btn-blue" %>
        
        <% end %>
      </div><!-- col md ends here -->
    </div><!-- row end shere -->
  </div><!-- container ends here -->
</div><!-- wrapper ends here -->