
<div class="wrapper">
 <div class="content">

   <div class="contentLeft">
			
        <div class="doctorImage">
          <% unless current_user.image_url.nil? %>
            <%= image_tag current_user.image_url, width: 225, height: 225 %>
          <% else %>
            <%= image_tag "profile-image.png", width: 225, height: 225 %>
          <% end %>
					<!-- <img src="assets/images/doctor.png" width="100%" alt="" /> -->
				</div>
        
				<div class="doctorImageHead">
          <%= current_user.user_detail.first_name %>
				</div>
        
				<div class="doctorImageText">
          <% dob = current_user.user_detail.date_of_birth.strftime("%Y").to_i %>
          <% today = Date.today.strftime("%Y").to_i %>
          <% age = today - dob %>
          <%= age %> Years,  <%= current_user.user_detail.gender %>
					<%= image_tag "doctorEdit.png" %>
        </div>
        
				<hr />
				
        <div class="bloodDoctor">
					
           <div class="bloodDoctorLeft">
             <%= image_tag "blood.png" %>
           </div>
          
			  		<div class="bloodDoctorRight">
              BLOOD GROUP: <%= current_user.user_detail.blood_group %>
					  </div>
					 <div class="clearfix"></div>
          
				</div><!-- blooddoctor ends here -->
				
        <div class="bloodDoctor">
				
           <div class="bloodDoctorLeft">
             <%= image_tag "height.png" %>
           </div>
				
           <div class="bloodDoctorRight">
					 	HEIGHT: <%= current_user.user_detail.height %>
					 </div>
					
           <div class="clearfix"></div>
				</div><!-- blood doctor ends here -->
				
        <div class="bloodDoctor">
				
           <div class="bloodDoctorLeft">
             <%= image_tag "weight.png" %>
           </div>
					
           <div class="bloodDoctorRight">
             WEIGHT: <%= current_user.user_detail.weight %>
					 </div>
					
           <div class="clearfix"></div>
				</div><!-- blooddoctor ends here -->
				<hr />

				<div class="bloodDoctorBottom">
				  	<div class="bloodDoctorLeftBottom">
              <%= image_tag "aboutMe.png" %>
            </div>
					
            <div class="bloodDoctorRightBottom">
             <%= link_to "ABOUT ME", user_detail_path(current_user.user_detail) %>
					  </div>
					
            <div class="clearfix"></div>
				</div><!-- blooddoctor bottom ends here -->
				
        <div class="bloodDoctorBottom">
				
           <div class="bloodDoctorLeftBottom">
             <%= image_tag "myHealth.png" %>
           </div>
				
           <div class="bloodDoctorRightBottom">
				 		MY HEALTH
             
              <div class="clearfix"></div>
					   
             <div class="bloodDoctorRightBottomInner">
					     <div class="bloodDoctorRightBottomInnerImage">+</div>
							 <div class="bloodDoctorRightBottomInnertext">
                 <%= link_to "Doctor Visits", doctor_visits_path %>
               </div>
							 <div class="clearfix"></div>
						 </div><!-- bloodDoctorRightBottomInner -->
             
             <div class="bloodDoctorRightBottomInner">
					     <div class="bloodDoctorRightBottomInnerImage">+</div>
							 <div class="bloodDoctorRightBottomInnertext">
                 <%= link_to "Health Records", health_records_path %>
               </div>
							 <div class="clearfix"></div>
						 </div><!-- bloodDoctorRightBottomInner -->
             
				   </div>
					
           <div class="clearfix"></div>
				</div><!-- blood doctor bottom ends here -->
				
        <div class="bloodDoctorBottom">
				
           <div class="bloodDoctorLeftBottom">
             <%= image_tag "myFamily.png" %>
           </div>
				
           <div class="bloodDoctorRightBottom">
				  		MY FAMILY
             <div class="clearfix"></div>
					   
             <div class="bloodDoctorRightBottomInner">
					     <div class="bloodDoctorRightBottomInnerImage">+</div>
							 <div class="bloodDoctorRightBottomInnertext">Mother</div>
							 <div class="clearfix"></div>
						 </div><!-- bloodDoctorRightBottomInner -->
						 
             <div class="bloodDoctorRightBottomInner">
						   <div class="bloodDoctorRightBottomInnerImage">+</div>
							 <div class="bloodDoctorRightBottomInnertext">Father</div>
							 <div class="clearfix"></div>
					 	 </div>
						 
             <div class="bloodDoctorRightBottomInner">
						  	<div class="bloodDoctorRightBottomInnerImage">+</div>
						  	<div class="bloodDoctorRightBottomInnertext">Son</div>
							  <div class="clearfix"></div>
						 </div>
						 
             <div class="bloodDoctorRightBottomInner">
						  	<div class="bloodDoctorRightBottomInnerImage">+</div>
							  <div class="bloodDoctorRightBottomInnertext">Daughter</div>
							  <div class="clearfix"></div>
						 </div>
						 
             <div class="bloodDoctorRightBottomInner">
						  	<div class="bloodDoctorRightBottomInnerImage">&nbsp;</div>
							  <div class="bloodDoctorRightBottomInnertextAdd">Add New</div>
							  <div class="clearfix"></div>
						 </div>
					
           </div><!-- blood doctor rightn bottom ends here -->
					
          <div class="clearfix"></div>
				</div><!-- blood doctor bottom ends here -->
				
        <div class="bloodDoctorBottom">
					<div class="bloodDoctorLeftBottom">
            <%= image_tag "myPhrama.png" %>
           </div>
				
          <div class="bloodDoctorRightBottom">
						MY PHARMA
					</div>
					
          <div class="clearfix"></div>
				</div><!-- blood dctor bottom ends here -->
			</div> <!-- content left ends here -->
  </div><!-- content ends here -->
</div> <!-- wrapper ends here -->