 	<div class="contentRightBottom" style="width:90%;padding-left:5px;padding-right:5px;border-top:0px;;max-width:900px;margin-left:auto;margin-right:auto;margin-top:0px">
          
                    
          <script type="text/javascript">
  $(document).ready(function(){
   $("#date_visit").datepicker({ dateFormat: "dd/mm/yy" }).val()
    });
</script>
		<%= form_for(@user_detail, :html => {:"data-ajax" => "false"}) do |f| %>
						
          <div>
            
            <div class="contentRightBottomHead">
						Update User Details
						</div>					

						         
							<div class="clearfix"></div>
							<div class="contentRightBottomHeadLeft textTransformCapitalize">First Name</div>
							<div class="contentRightBottomHeadRight textTransformUppercase"> 
                <%= f.text_field :first_name %>
							</div>
            
							<div class="clearfix"></div>
							<div class="contentRightBottomHeadLeft textTransformCapitalize">Last Name</div>
							<div class="contentRightBottomHeadRight textTransformUppercase">
								<%= f.text_field :last_name %>
							</div>
            
							<div class="clearfix"></div>
							<div class="contentRightBottomHeadLeft textTransformCapitalize">Date Of Birth</div>
							<div class="contentRightBottomHeadRight textTransformUppercase">
                <%= f.text_field :date_of_birth, :id => "date_visit" %>
							</div>
            
							<div class="clearfix"></div>
							<div class="contentRightBottomHeadLeft textTransformCapitalize">Blood group</div>
							<div class="contentRightBottomHeadRight textTransformUppercase">
                <%= f.text_field :blood_group %>
							</div>
            
							<div class="clearfix"></div>
							<div class="contentRightBottomHeadLeft textTransformCapitalize">Occupation</div>
							<div class="contentRightBottomHeadRight textTransformUppercase">
                <%= f.text_field :occupation %>
							</div>
            
              <div class="clearfix"></div>
							<div class="contentRightBottomHeadLeft textTransformCapitalize">Profession</div>
							<div class="contentRightBottomHeadRight textTransformUppercase">
                <%= f.text_field :profession %>
							</div>
            
              <div class="clearfix"></div>
							<div class="contentRightBottomHeadLeft textTransformCapitalize">Marital Status</div>
							<div class="contentRightBottomHeadRight textTransformUppercase">
                <%= f.label "Married" %>
               <%= f.radio_button :marital_status, "Married" %>
                <%= f.label "Single" %>
               <%= f.radio_button :marital_status, "Single" %> 
							</div>
            
              <div class="clearfix"></div>
							<div class="contentRightBottomHeadLeft textTransformCapitalize">Gender</div>
							<div class="contentRightBottomHeadRight textTransformUppercase">
                <%= f.label "Male" %>
                <%= f.radio_button :gender, "Male" %>
                <%= f.label "Female" %>
                <%= f.radio_button :gender, "Female" %>
                <%= f.label "Others" %>&nbsp;&nbsp;
                 <%= f.radio_button :gender, "Others" %>
							</div>
            
              <div class="clearfix"></div>
							<div class="contentRightBottomHeadLeft textTransformCapitalize">No Of childern</div>
							<div class="contentRightBottomHeadRight textTransformUppercase">
                <%= f.select :number_of_children, (0..10), {prompt: "Select"}, {class: "form-control"} %>   
							</div>
            
              <div class="clearfix"></div>
							<div class="contentRightBottomHeadLeft textTransformCapitalize">Smoking</div>
							<div class="contentRightBottomHeadRight textTransformUppercase">
                <%= f.label "Yes" %>
                <%= f.radio_button :smoking, "Yes"  %>
                <%= f.label "No" %>&nbsp;&nbsp;
                <%= f.radio_button :smoking, "No" %>
            	</div>
            
              <div class="clearfix"></div>
							<div class="contentRightBottomHeadLeft textTransformCapitalize">Drinking</div>
							<div class="contentRightBottomHeadRight textTransformUppercase">
                <%= f.label "Yes" %>&nbsp;&nbsp;
                <%= f.radio_button  :drinking, "Yes"  %>
                <%= f.label "No" %>&nbsp;&nbsp;
                <%= f.radio_button  :drinking, "No" %>
              </div>
            
              <div class="clearfix"></div>
							<div class="contentRightBottomHeadLeft textTransformCapitalize">Diet</div>
							<div class="contentRightBottomHeadRight textTransformUppercase">
                <%= f.label "Vegetarian" %>&nbsp;&nbsp;
                <%= f.radio_button  :diet, "Vegetarian"  %>
                <%= f.label "Non-Vegetarian" %>&nbsp;&nbsp;
                <%= f.radio_button  :diet, "Non-Vegetarian"  %>
              </div>
            
              <div class="clearfix"></div>
							<div class="contentRightBottomHeadLeft textTransformCapitalize">Height</div>
							<div class="contentRightBottomHeadRight textTransformUppercase">
                <%= f.text_field :height %>            
              </div>
                
              <div class="clearfix"></div>
							<div class="contentRightBottomHeadLeft textTransformCapitalize">Weight</div>
							<div class="contentRightBottomHeadRight textTransformUppercase">
                <%= f.text_field :weight %>            
              </div>
            
              <div class="clearfix"></div>
							<div class="contentRightBottomHeadLeft textTransformCapitalize">Exercise</div>
							<div class="contentRightBottomHeadRight textTransformUppercase">    
                <%= f.label "Regularly" %>&nbsp;&nbsp;
                <%= f.radio_button :exercise, "Regularly"  %>
                <%= f.label "weekly Once" %>&nbsp;&nbsp;
                <%= f.radio_button  :exercise, "Weekly Once" %>
                <%= f.label "Never" %>&nbsp;&nbsp;
                <%= f.radio_button  :exercise, "Never" %>
              </div>
            
              <div class="clearfix"></div>
							<div class="contentRightBottomHeadLeft textTransformCapitalize">Family History</div>
							<div class="contentRightBottomHeadRight textTransformUppercase">    
                <%= f.text_area :family_history,  :rows => 2 %>
              </div>
            
							 	<div class="clearfix"></div>
						       <%= f.submit "Submit" , class: "submitButton"  %>
								<div class="clearfix"></div>
            <% end %>
            <br/><br/>
							</div><!-- contentRightBottom ends here -->
					</div>
