<%= render "profile" %>
<br/><br/>
			<div class="contentRight">
			
        <div class="contentRightTop">
          <a href="" data-ajax="false">You are here - <%= image_tag "homeDark.png" %></a> / <a href="" data-ajax="false">About me</a>
				</div>
				
        <div class="contentRightBottom">
					<div class="contentRightBottomLeft">
						
            <div class="contentRightBottomHead">
              PERSONAL DETAILS <small>( MODIFY <%= image_tag "rightEdit.png" %> )</small>
						</div>
            
						<div class="contentRightBottomHeadLeft">First Name:  </div>
            <div class="contentRightBottomHeadRight"><%= current_user.user_detail.first_name %></div>
						<div class="clearfix"></div>
						<div class="contentRightBottomHeadLeft">Last Name:</div>
						<div class="contentRightBottomHeadRight"><%= current_user.user_detail.last_name %></div>
						<div class="clearfix"></div>
						<div class="contentRightBottomHeadLeft">Date of Birth:</div>
            <div class="contentRightBottomHeadRight"><%= current_user.user_detail.date_of_birth %></div>
						<div class="clearfix"></div>
						<div class="contentRightBottomHeadLeft">Occupation:</div>
						<div class="contentRightBottomHeadRight"><%= current_user.user_detail.occupation %></div>
						<div class="clearfix"></div>
						<div class="contentRightBottomHeadLeft">Profession:</div>
            <div class="contentRightBottomHeadRight"><%= current_user.user_detail.profession %></div>
						<div class="clearfix"></div>
						<div class="contentRightBottomHeadLeft">Marital Status:</div>
						<div class="contentRightBottomHeadRight"><%= current_user.user_detail.marital_status %></div>
						<div class="clearfix"></div>
						<div class="contentRightBottomHeadLeft">Children:</div>
            <div class="contentRightBottomHeadRight"><%= current_user.user_detail.number_of_children %></div>
						<div class="clearfix"></div>
						<div class="contentRightBottomHeadLeft">Smoking: </div>
						<div class="contentRightBottomHeadRight"><%= current_user.user_detail.smoking %></div>
						<div class="clearfix"></div>
						<div class="contentRightBottomHeadLeft">Drinking:</div>
            <div class="contentRightBottomHeadRight"><%= current_user.user_detail.drinking %></div>
						<div class="clearfix"></div>
						<div class="contentRightBottomHeadLeft">Exercise:</div>
            <div class="contentRightBottomHeadRight"><%= current_user.user_detail.exercise %></div>
						<div class="clearfix"></div>
						<div class="contentRightBottomHeadLeft">Diet:</div>
            <div class="contentRightBottomHeadRight"><%= current_user.user_detail.diet %></div>
						<div class="clearfix"></div>
					</div>
					<div class="contentRightBottomRight">
						<div class="contentRightBottomHead">
              FAMILY HISTORY OF ANY DISEASE <small>( MODIFY <%= image_tag "rightEdit.png" %> )</small>UserDetail
						</div>
						<div class="contentRightBottomText">
							A family medical history is a record of health information about a person and his or 
							her close relatives. A complete record includes information from three generations 
							of relatives, including children, brothers and sisters, parents, aunts and uncles, 
							nieces and nephews, grandparents, and cousins.<br/><br/>

							Families have many factors in common, including their genes, environment, and 
							lifestyle. Together, these factors can give clues to medical conditions that may run 
							in a family. By noticing patterns of disorders among relatives, healthcare 
							professionals can determine whether an individual, other family members, or 
							future generations may be at an increased risk of developing a particular condition.
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>

	</div>

	</body>
</html>