<!DOCTYPE html>
<html>
<head>
  <title>VOW</title>
  
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>

 
 
  <% if user_signed_in? %>
 <div class="wrapper">

	  <div class="container header headerBG">
 		    <div class="logo">
  				<a href="/" data-ajax="false">
	  			<!-- 	<img src="images/logoInside.png" width="100%" alt="" title="" /> -->
            <%= image_tag "logoInside.png" %>
			   	</a>
			  </div>
      
        <div class="navbar-collapse collapse">
             
              <ul class="nav pull-right">
                <li class="dropdown">
                 <a class="dropdown-toggle" data-toggle="dropdown">
                  
                   <% unless current_user.image_url.nil? %>
                   <%= image_tag current_user.image_url, width: 40, height: 40 %>
                   <% else %>
                     <%= image_tag "profile-image.png", width: 40, heigth: 40 %>
                   <% end %>
                    <span class="caret"></span> 
                  </a>
                    <ul class="dropdown-menu">
                        <% if current_user.user_detail.present? %>
                           <li>
                             <%= link_to edit_user_detail_path(current_user.user_detail) do %>
                              <i class="fa fa-user"></i> 
                                &nbsp;&nbsp;My Profile
                               <% end %>
                           </li>
                        <% end %>
                      
                           <li>
                             <%= link_to users_user_profile_picture_path do %>
                              <i class="fa fa-user"></i> 
                                &nbsp;&nbsp;Upload Profile Picture
                               <% end %>
                           </li>
                        <li class="divider"></li>
                        <li>
                          <%= link_to destroy_user_session_path do %>
                             <i class="fa fa-sign-out"></i> 
                              &nbsp;&nbsp;Logout
                          <% end %>
                        </li>
                    </ul>    
                </li><!-- dropdown ends here -->
              </ul>  <!-- nav pull right ends here -->
      </div><!-- navbar collapse ends here -->
    </div><!-- container header headerBG ends here -->
  

         
    </div><!-- wrapper ends here -->
  
<% end %>
  <%= yield %>  
  
 
 
 

</body>
</html>
